.page{
  height: 100vh;
  background-color: #000;

  h1{
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 0;

    span{
      display: block;
      font-size: 1rem;
    }
  }

  form{
    width: 100%;

    fieldset{
      display: flex;

      select{
        width: 100%;
        color: #ed4343;
        background-color: #000;
        
        textarea{
          width:100%;
          margin-top: 1rem;
          border: none;
          box-shadow: none;
          font-size: 1rem;
        }
      }
    }

    button.submit-report{
      width: 100%;
      background-color: #000;
      border: none;
      font-size: 2rem;
      font-weight: 100;
      padding: 1rem 2rem;

      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }


}