.page{
  height: 100vh;
  background-image: url('https://images8.alphacoders.com/382/382630.jpg');
  font-family: 'Space Mono', monospace;

  h1{
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 0;

    span{
      display: block;
      font-size: 1rem;
    }
  }

  form{
    width: 100%;

    fieldset{
      display: flex;
      border: none;

      select{
        width: 100%;
        color: #ed4343;
        background-color: #867856;
        border: none;
        border-bottom: 1px solid #fff;
      }

      textarea{
        width:100%;
        margin-top: 1rem;
        border: none;
        box-shadow: none;
        font-size: 1rem;
        background-color: #867856;
      }
    }

    button.submit-report{
      width: 100%;
      background-color: #867856;
      color: #fff;
      border: none;
      font-size: 2rem;
      font-weight: 100;
      padding: 1rem 2rem;
      font-family: 'Space Mono', monospace;

      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }


}