<div class = "check-in-page">
  <h1>Register</h1>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register($event)">
    <fieldset>
      <input type = "text" placeholder="Name" required formControlName ="name"/>
      <input type = "number" placeholder="Age" required formControlName ="age"/>
      <select required formControlName = "job_id">
        <option [value] = "NO_JOB_SELECTED"> Select occupation </option>
        <option value="{{job.id}}" *ngFor="let job of jobs">
          {{job.name}}
        </option>
      </select>
    </fieldset>
    <button type = "submit" [disabled] = "registerForm.invalid"> Check in </button>
  </form>
</div>

<!--<div class = "page">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register($event)">
    <fieldset>
      <input type="text" placeholder="Enter your name" required formControlName ="name"/>
      <input type="number" placeholder="Enter your age" required formControlName ="age"/>
      <select required formControlName = "job_id">
        <option [value]="NO_JOB_SELECTED">Select an occupation</option>
         <option [value]="job.id" *ngFor="let job of jobs">
          {{job.name}}
        </option>
      </select>
    </fieldset>
    <button type="submit" [disabled] = "registerForm.invalid">Register</button>
  </form>
</div>-->

