body{
  background: #000;

}

  .check-in-page{
    height: 100vh;
    background-image: url('https://images6.alphacoders.com/491/491174.jpg');
    font-family: 'Space Mono', monospace;

    h1{
      text-align: center;
      color: #fff;
      font-weight: 100;
      margin-top: 0;
    }

    fieldset{
      display: flex;
      flex-wrap: wrap;
      height: 250px;
      padding-top: 0;
      border: transparent;

      input{
        width: 100%;
        margin-bottom: 1rem;
        line-height: 1.5rem;
        border: transparent;
        border-bottom: 1px solid #fff;
        background: #000;
        color: #fff;

        input.placeholder{
          color: #ed4343;
          border-bottom: 1px solid #fff;
        }
      }

      select{
        width: 100%;
        line-height: 2rem;
        border: transparent;
        border-bottom: 1px solid #fff;
        background: #000;
        color: #ed4343;
      }
    }

    button{
      width: 100%;
      font-size: 2rem;
      font-weight: 100;
      padding: 1rem, 2rem;
      border-color: transparent;
      color: #fff;
      background: #000;
      opacity: 0.4;
      font-family: 'Space Mono', monospace;
    }
  }


